@model IEnumerable<Product>
@{
    ViewData["Title"] = "Products";
}


<div >
<h1 class="display-4 pb-5" style="color:white;  ">All Products</h1>

<h2 style="color:white">Search Results</h2>
<div class="justify-content-end">
    <form asp-controller="Products" asp-action="Search" method="get">

        <span><b style="color:white;font-size:25px;">Search By: </b></span>&nbsp;

            <input style="border:none;background:transparent;width:60%;border:2px solid rgba(255, 255, 255, .2);transition: background .5s;color:white ;padding: 0 2rem; height:50px;text-align: center ;border-radius: 100px;" type="text" @* name="searchValue" *@ name="query" placeholder="Search...">

            <button style="border:none; background:linear-gradient(45deg,#ff9933, #999933);
font-family: Segoe Print" sans-serif;
padding:1rem;
border-radius:100px;
text-align:center;
text-transform:uppercase;
font-size:18px;
height:700px;
width:700px;
                cursor:pointer;" class="btn btn-primary" type="submit">
            Search
        </button>
        


    </form>
</div>
<br />


<div class="row">

    @foreach(var item in Model)
    {
            <div class="col-4">
          <div class="ajaxbg d-none">
              <img src="~/images/ajax-loader.gif" />
              <p class="lead alert alert-success text-center d-none"> The product has been added!</p>
          </div>

          <div class="productContent">
          <img src="~/media/products/@item.Image" class="img-fluid" alt="" />
          <h4>@item.Name</h4>
          <div>
               @Html.Raw(item.Description)
          </div>
          <p>
              @item.Price.ToString("C2")
          </p>
          <p>
                        <a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" data-id="@item.Id" style=" background-image:linear-gradient(to right,#c2e59c 0%, #64b3f4 51%, #c2e59c 100%);" class="btn btn-primary addToCart"> Add to cart</a>
                        
          </p>
          </div>

      </div>


      

    }
    @if (ViewBag.TotalPages > 1)
    {

        <div class="d-flex w-100 justify-content-center">

          <pagination page-count="@ViewBag.TotalPages" page-target="/products" 
          page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange"></pagination>
        </div>
    }

 </div>

    
</div>

@section Scripts{

    <script>
        $(function() {

            $("a.addToCart").click(function(e){
                e.preventDefault();

                let ajaxDiv = $(this).parent().parent().find("div.ajaxbg");
                ajaxDiv.removeClass("d-none");
                let id = $(this).data("id");

                $.get('/cart/add/' +id, {} , function(data){
                    $("div.smallcart").html(data);
                    ajaxDiv.find("img").addClass("d-none");
                    ajaxDiv.find("p").removeClass("d-none");
                    setTimeout(() => {
                        ajaxDiv.animate({opacity:0{}, function(){
                            $(this).addClass("d-none").fadeTo(.1 , 1);
                            $(this).find("img").removeClass("d-none");
                            $(this).find("p").addClass("d-none");


                        });
                        
                    });
                });


            });

        });
        $(function(){
            $("#basic-text1").click(function(){
                $("Form").submit();
            })
        });
    </script>
}

