@model List<Product>

<h2>Search Results</h2>

<div>
    @foreach (var item in Model)
    {
       
        <div class="productContent">
            <img src="~/media/products/@item.Image" class="img-fluid" alt="" />
            <h4>@item.Name</h4>
            <div>
                @Html.Raw(item.Description)
            </div>
            <p>
                @item.Price.ToString("C2")
            </p>
            <p>
                <a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" data-id="@item.Id"
                   class="btn btn-primary addToCart"> Add to cart</a>
            </p>
        </div>
    }
</div>