@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}

<h1 style="font-size:30px;text-align:center;color:#f59159;font-family: Segoe Print" sans-serif;">Products</h1>

<p>
    <a style="border:none; background:linear-gradient(45deg,#ffea66, #f59159);
color:white;
padding:0.7rem;
border-radius:100px;
text-align:center;
text-transform:uppercase;
font-size:18px;
height:55px;
width:150px;
cursor:pointer;" asp-action="Create">Create New</a>
</p>


<table style="color:white; font-size:20px;font-family: Segoe Print" sans-serif;" class="table">
    <thead>
        <tr>
            
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Category
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
        
            <td>
                @item.Name
            </td>
            <td>
                @item.Price.ToString("C2")
            </td>
            <td>
                @item.Category.Name
            </td>
            <td>
                    <img src="~/media/products/@item.Image" width="100" alt="" />
            </td>
            <td>
                    <a style="border:none; background:linear-gradient(45deg,#ff6f3c, #f1ffab);

padding:0.5rem;
border-radius:70px;
text-align:center;
text-transform:uppercase;
font-size:18px;
height:55px;
width:150px;
cursor:pointer;color:white ;font-family: Segoe Print" sans-serif;" asp-action="Edit" asp-route-id="@item.Id">Edit </a> |
                    <a style="border:none; background:linear-gradient(45deg,#f2ff97, #9ed79a);

padding:0.5rem;
border-radius:70px;
text-align:center;
text-transform:uppercase;
font-size:18px;
height:55px;
width:150px;
cursor:pointer;color:#ff6f3c;font-family: Segoe Print" sans-serif;" asp-action="Details" asp-route-id="@item.Id"> Details </a> |
                    <a style="border:none; background:linear-gradient(45deg,#f2ff97, #ff6f3c);

padding:0.5rem;
border-radius:70px;
text-align:center;
text-transform:uppercase;
font-size:18px;
height:55px;
width:150px;
cursor:pointer;color:white;font-family: Segoe Print" sans-serif;" class="confirmDeletion" asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
                   
            </td>
        </tr>
}
    </tbody>
</table>

<div class="d-flex w-100 justify-content-center">

    <pagination page-count="@ViewBag.TotalPages" page-target="/admin/products" page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange"></pagination>
</div>


